@import 'variables';
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body { font-family: 'Source Sans Pro', sans-serif; }

ul {
  padding: 0;
  list-style-type: none;
}

.clickable {
  cursor: pointer;
}

.no-uppercase {
  text-transform:none;
}

.no-wrap {
  white-space:nowrap;
}
